---
layout: ""
page_title: "Provider: HAProxy"
description: |-
  The HAProxy provider provides resources to interact with a HAProxy Dataplane API.
---

# HAProxy Provider

The HAProxy provider provides resources to interact with a HAProxy Dataplane API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}