# _md5hash=b502f7ef0af58ea31de37fa41a5636ed
# _version=2
# Dataplaneapi managed File
# changing file directly can cause a conflict if dataplaneapi is running

global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  log global
  timeout http-request 10s
  timeout connect 5s
  timeout client 10s
  timeout server 10s

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend tfacc-frontend1

program api
  command /usr/bin/dataplaneapi --host 0.0.0.0 --port 5555 --haproxy-bin /usr/sbin/haproxy --config-file /usr/local/etc/haproxy/haproxy.cfg --reload-cmd "kill -SIGUSR2 1" --reload-delay 5 --userlist haproxy-dataplaneapi
  no option start-on-reload
